

/* scaffolding */
/* ----------- */

html {
    overflow-y: scroll;
    *overflow-x: hidden;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.tt-dropdown-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; /* 18  */
    line-height: 1.2;
    color: #333;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.table-of-contents li a {
    font-size: 16px;
    color: #999;
}

.title,
/*.example-name {
    font-family: Prociono;
}*/

p + p {
    margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}

/* added KD */
h3 {
    font-size: 18px;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 50px;
    padding: 8px 12px;
    font-size: 18px;  /*24 */
    line-height: 24px; /* 30*/
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 3px 0; /*8 0 */
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 0 20px;  /* 3px 20px */
    font-size: 16px; /* 18 */
    line-height: 24px;
}

.tt-suggestion p.films{
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}
